* {

    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background-color: #19A1AD;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;;
}



.top-image {

  position: absolute;

  
  left: 3%;
  bottom: 40%;


.back-image__top {

  width: 70%;
  height: 50%;
  transform: rotate(30deg);
  opacity: 0.4;
  z-index: 0;

  
  
}

}


.bottom-image {

    position: absolute;
  
    width: 70%;
    left:45%;
    top: 50%;
 
  
  .back-image__top {
  
    width: 100%;
    height: 50%;
    transform: rotate(40deg);
    opacity: 0.4;
    position: relative;
    
  
    
    
  }
  
  }
  
  .main-card {
      margin: auto;
      margin-top: 10%;
      width: 350px;
      height: 350px;
      border-radius: 10px;
      text-align: center;
      background-color: white;
      position: relative;


   .main-card__back-image{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   position: relative;
   }

   .victor-image {
       border-radius: 50%;
       border: 4px solid white;
    margin: auto;
    position: absolute;
    right: 35%;
    top: 25%;
    
   }
.profile {
   margin-top: 20px;
    list-style: none;
    color: #000 ;
    font-weight: 700;
   display: flex;
  justify-content: space-evenly;

li span {

    font-size: x-small;
    font-weight: lighter;
    color: hsl(0, 0%, 59%);
    letter-spacing: 1px;
}


}

  }
  .name {
      margin-top: 55px;
    color: #000 ;
   font-weight: 700;



.age{
 color: hsl(0, 0%, 59%);
 font-weight: 400;

}


}
.location{
    color: hsl(0, 0%, 59%);
    margin-top: 10px;
    font-size: 13px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(228, 226, 226);

      }

